<footer>
    {%- set nav = [
        { title: 'About', url: '/about' },
        { title: 'Expertise', url: '/expertise/' },
        { title: 'What to expect', url: '/starting-therapy' },
        { title: 'Contact', url: '/contact' },
        { title: 'Accessibility', url: '/accessibility' }
    ] %}
    {% set label = "Quick links" %}
    {% include "nav.html" %}
    {% include "svg/logo.svg" %}
    <p>&copy; copyright {{ "" | getCurrentYear }} Bea Rodriguez</p>
    <p class="credits">Visual identity and website <a href="https://www.designbyant.co.uk">Design by Ant</a>; user experience design and website build by <a href="https://www.tempertemper.net">tempertemper</a>.</p>
    {% include "svg/logo-icon--footer.svg" %}
</footer>
