<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ title }}</title>
    {%- if description %}
        {%- set descriptionContent = description %}
    {%- else %}
        {%- set descriptionContent = intro %}
    {%- endif %}
    <meta name="description" content="{{ descriptionContent }}" />
    <meta name="color-scheme" content="dark light" />

    <meta name="theme-color" content="#dbad21">
    <link rel="apple-touch-icon" href="/assets/img/icons/apple-touch-icon.png">
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/assets/img/icons/favicon.svg" type="image/svg+xml" />
    <link rel="manifest" href="/site.webmanifest">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ page.url | replace('.html', '') }}">
    <meta property="og:image" content="{{ site.url }}/assets/img/og-image.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ site.url }}/assets/img/og-image.png">

    {%- if noIndex %}
        <meta name="robots" content="noindex, nofollow">
    {%- else %}
        <meta name="robots" content="index, follow">
    {%- endif %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace('.html', '') }}">

    <link href="/assets/css/style.css?v={{ site.version }}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
    <link rel="preload" href="/assets/fonts/Lora.woff2" as="font" type="font/woff2" crossorigin fetchpriority="high" />
    <link rel="preload" href="/assets/fonts/Nunito.woff2" as="font" type="font/woff2" crossorigin fetchpriority="high" />
    <link rel="prefetch" href="/assets/fonts/Nunito-Italic.woff2" as="font" type="font/woff2" crossorigin />
</head>
