{%- set expertise = label == "Expertise" %}
{%- set primary = label == "Primary" %}
{%- if primary %}<nav aria-label="{{ label }}" class="primary">{%- endif %}
<ul>
    {%- set printed = 0 %}
    {%- for item in nav | ordered %}
        {%- set isCurrent = (item.url | url) == (page.url | url) %}
        {%- set canShow = primary or (item.fileSlug != "index" and not isCurrent) %}
        {%- if canShow and (not max or printed < max) %}
            {% set colour = item.data.order | colourFor %}
            <li>
                {%- if expertise %}
                    <a href="{{ item.url | url | replace('.html', '') }}" aria-hidden="true" tabindex="-1">
                        {%- set illustration = item.data.illustration if item.data.illustration else item.illustration %}
                        {%- include "svg/" + illustration %}
                    </a>
                {%- endif %}
                <a
                    href="{{ item.url | url | replace('.html', '') }}"
                    {%- if primary and isCurrent %} aria-current="page"{% endif %}
                    {%- if item.button %} data-button{% endif %}>
                    {{- item.data.title or item.title }}
                </a>
            </li>
            {%- set printed = printed + 1 %}
        {%- endif %}
    {%- endfor %}
</ul>
{%- if primary %}</nav>{%- endif %}
