@use 'mixins';
@use 'variables';

footer {
  padding-top: variables.$section-spacing;
  @include mixins.highlight(grey);

  @include mixins.dark-mode() {
    @include mixins.highlight(black)
  }

  .highlight + & {
    margin-top: 0;
  }

  ul,
  ol {
    @include mixins.remove-list-styling;
  }
}
