@use 'mixins';
@use 'variables';

::selection {
  background: variables.$colour--grey-dark;
  color: variables.$colour--white;
  @include mixins.dark-mode(variables.$colour--white, variables.$colour--black);
}

body {
  max-width: 50em;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1em;
  background: variables.$colour--white;
  color: variables.$colour--grey-dark;
  @include mixins.dark-mode(variables.$colour--grey-dark, variables.$colour--white);
}

:link,
:visited {
  color: inherit;
}

.highlight {

  &:nth-of-type(odd) {
    @include mixins.highlight(teal)
  }

  &:nth-of-type(even) {
    @include mixins.highlight(yellow)
  }
}

.button {
  @include mixins.button;
}

.button.secondary {
  @include mixins.button($secondary: true);
}
