@use 'mixins';
@use 'variables';

::selection {
  background: variables.$colour--black;
  color: variables.$colour--white;
  @include mixins.dark-mode(variables.$colour--white, variables.$colour--black);
}

body {
  max-width: 35em;
  margin-right: auto;
  margin-left: auto;
  padding: 1em;
  background: variables.$colour--white;
  color: variables.$colour--black;
  @include mixins.dark-mode(variables.$colour--black, variables.$colour--white);
}
