@use 'variables';
@use "mixins";

header {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.logo {

  svg {
    color: variables.$colour--black;
    @include mixins.dark-mode($colour: variables.$colour--white);
  }
}

nav.primary {

  ul {
    display: flex;
    flex-direction: row;
    gap: .5em;
    flex-wrap: wrap;
    margin: 0;
  }

  li {
    display: inline-block;
  }
}
