@use 'variables';
@use "mixins";

header {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.logo {

  svg {
    color: variables.$colour--grey-dark;
    @include mixins.dark-mode($colour: variables.$colour--white);
  }
}

nav.primary {
  margin-bottom: 2em;
  font-weight: 500;

  :link {
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
    margin: 0;
  }

  li {
    display: inline-block;
  }
}

.intro {
  background-color: variables.$colour--yellow;
  color: variables.$colour--black;
  padding: 1em;
  border-radius: 1em;
}

hgroup {
  margin-bottom: 2em;
}
