@use 'variables';
@use 'sass:color';

@mixin dark-mode($background: null, $colour: null) {

  @media screen and (prefers-color-scheme: dark), screen and (prefers-contrast: more) {

    @if ($background != null and $colour != null) {
      background-color: $background;
      color: $colour;
      @content;
    }
    @else if ($background != null and $colour == null) {
      background-color: $background;
      @content;
    }
    @else if ($colour != null and $background == null) {
      color: $colour;
      @content;
    }
    @else {
      @content;
    }
  }
}

@mixin highlight($background: null, $colour: null) {
  $_background: if($background != null, $background, variables.$colour--teal);
  $_foreground: if($colour != null, $colour, variables.$colour--white);

  background-color: $_background;
  color: $_foreground;
  position: relative;
  display: flow-root;
  padding-bottom: variables.$section-spacing;
  margin-top: 3em;

  hgroup + & {
    margin-top: 0;
  }

  h2,
  & + h2 {
    margin-top: 2em;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    background-color: $_background;
    top: 0;
    bottom: 0;
    width: 9999px;
  }

  &:before { right: 100% }
  &:after  { left: 100% }
}

@mixin button($background: null, $colour: null, $secondary: null) {
  $_background: if($background != null, $background, variables.$colour--red);
  $_foreground: if($colour != null, $colour, variables.$colour--white);

  @if $secondary == true {
    background-color: transparent;
    color: inherit;
    border: 2px solid currentColor;
    padding: calc(.25em - 2px) calc(1.5em - 2px);
    font-weight: 500;

    &:hover {
      background-color: rgba(0, 0 , 0, 0.05);
      border: 2px solid color-mix(in srgb, currentColor 90%, transparent);
    }
  } @else {
    background-color: $_background;
    color: $_foreground;
    border: none;
    padding: .25em 1.5em;
    font-weight: 700;

    &:hover {
      background-color: color.scale($_background, $lightness: -10%);
    }
  }

  border-radius: .5em;
  text-decoration: none;

  &:hover {
    color: color-mix(in srgb, currentColor 90%, transparent);
  }

  &:active {
    position: relative;
    top: 2px;
  }
}
