@use 'mixins';
@use 'fonts';
@use 'variables';

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-size: 125%;
  font-weight: 400;

  @include mixins.dark-mode() {
    font-weight: 300;
  };

  @media (min-width: 30em) {
    font-size: 150%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", georgia, serif;
  line-height: 1.1;
  margin-top: 1.5em;
  font-weight: 500;

  // @include mixins.dark-mode() {
  //   font-weight: 400;
  // };
}

h1 {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;

  + p {
    margin-top: 1em;
  }
}



blockquote {
  border-left: solid .25em variables.$colour--grey-dark;
  padding-left: .75em;
  margin-left: -1em;
  @include mixins.dark-mode() {
    border-left-color: solid .25em variables.$colour--white;
  };
}
