//
// Layout
//

// Breakpoints
$xs: 25em;
$s: 31em;
$m: 43em;
$l: 60em;
$xl: 75em;


//
// Colours
//

// Colours
$colour--white: #eae6de;
$colour--black: #000000;
$colour--yellow: #dbad21;
$colour--yellow-dark: #a88419;
$colour--red: #db592b;
$colour--red-dark: #c14f26;
$colour--teal: #5c7a77;
$colour--grey-light: #b0aba6;
$colour--grey-dark: #33332e;

// Crossover colours
$colour--red-teal: #883c20;
$colour--red-yellow: #b54a24;
$colour--teal-yellow: #816c2c;
$colour--teal-grey: #465d5b;
$colour--yellow-grey: #ab871a;
$colour--red-grey: #9d3d1b;
$colour--white-red: #e89578;
$colour--white-teal: #a2c3c0;
$colour--white-yellow: #e7c55f;

//
// Typography
//

// Major second
$major-second-1: 1.125em;
$major-second-2: 1.266em;
$major-second-3: 1.424em;
$major-second-4: 1.602em;

// Major third
$major-third-1: 1.25em;
$major-third-2: 1.563em;
$major-third-3: 1.953em;
$major-third-4: 2.441em;

// Perfect fourth
$perfect-fourth-1: 1.333em;
$perfect-fourth-2: 1.777em;
$perfect-fourth-3: 2.269em;
$perfect-fourth-4: 3.157em;


//
// Other
//

$section-spacing: 3em;
