
// Colours

$colour--white: #eae6de;
$colour--black: #000000;
$colour--yellow: #dbad21;
$colour--red: #db592b;
$colour--teal: #5c7a77;
$colour--grey-light: #b0aba6;
$colour--grey-dark: #33332e;


$section-spacing: 3em;
