// Breakpoints
$xs: 25em;
$s: 31em;
$m: 43em;
$l: 60em;
$xl: 70em;


// Colours
$colour--white: #eae6de;
$colour--black: #000000;
$colour--yellow: #dbad21;
$colour--yellow-dark: #a88419;
$colour--red: #db592b;
$colour--red-dark: #c14f26;
$colour--teal: #5c7a77;
$colour--grey-light: #b0aba6;
$colour--grey-dark: #33332e;

// Crossover colours
$colour--red-teal: #883c20;
$colour--red-yellow: #b54a24;
$colour--teal-yellow: #816c2c;
$colour--teal-grey: #465d5b;
$colour--yellow-grey: #ab871a;
$colour--red-grey: #9d3d1b;


// Other
$section-spacing: 3em;
