<!DOCTYPE html>
<html xml:lang="en" lang="en">
    {% include "head.html" %}
    <body>
        <header>
            <a href="/">BeaRodriguez.com<span class="visually-hidden">, go to homepage</span></a>
            {%- set nav = [
                { title: 'Expertise', url: '/expertise/' },
                { title: 'About', url: '/about' },
                { title: 'Contact', url: '/contact' }
            ] %}
            {% set label = "Primary" %}
            {% include "nav.html" %}
        </header>
        <h1>{{ title }}</h1>
        {{ content | safe }}
        <style>
          @media screen and (prefers-color-scheme: dark) {
            :where(a:link) {color: #9e9eff;}
            :where(a:visited) {color: #d0adf0;}
          }
        </style>
    </body>
</html>
