<!DOCTYPE html>
<html xml:lang="en" lang="en">
    {% include "head.html" %}
    <body {%- if homepage %} class="home"{% endif %}>
        {% include "header.html" %}
        {% include "heading-area.html" %}
        {{ content | safe }}
        {% include "footer.html" %}
        <style>
          @media screen and (prefers-color-scheme: dark) {
            :where(a:link) {color: #9e9eff;}
            :where(a:visited) {color: #d0adf0;}
          }
        </style>
        <script src="/assets/js/scripts.js"></script>
    </body>
</html>
