---
title: Counselling for self-understanding, healing and growth
description: Compassionate counselling in Newcastle upon Tyne and online wherever you are, helping you feel more grounded, confident, and understood.
intro: Therapy offers a space to slow down and listen to yourself in new ways. Together, we'll explore your experiences with curiosity and care, helping you reconnect with your inner resources and move toward balance and self-trust.
layout: default
homepage: true
---

<div class="container highlight odd">
    <div class="content">
        <h2>My approach</h2>
        <p>Starting therapy can feel like a big step; you don't have to do it alone. My aim is to make that first step easier by offering a warm, accepting space where you can feel supported from the start.</p>
        <p>I adapt therapy to your individual needs. Together, we'll explore how your past experiences can shape your thoughts, emotions, and relationships today. This understanding can help you feel more self-assured, connected, and able to create meaningful change in your life.</p>
        <a href="/about" class="secondary" data-button>About Bea</a>
    </div>
    {% include "svg/stack.svg" %}
</div>

<div class="expertise">
    <h2>I can help with</h2>
    {%- set nav = collections.expertise -%}
    {%- set label = "Expertise" -%}
    {%- set max = 3 -%}
    {%- include "nav.html" %}
    <a href="/expertise/" class="secondary" data-button>View all specialisms</a>
</div>

<div class="container highlight even">
    <div class="content">
        <h2>What to expect</h2>
        <p>When you begin therapy with me, you'll have space to slow down, talk openly, and be heard without judgment.</p>
        <p>Each session moves at your pace, and everything you share is treated with complete confidentiality.</p>
        <ul>
            <li>Sessions available online or in person</li>
            <li>Flexible appointment dates and times</li>
            <li>Professional and confidential service</li>
        </ul>
        <a href="/starting-therapy" class="secondary" data-button>What to expect</a>
    </div>
    {% include "svg/float.svg" %}
</div>

{%- include "cta.html" %}
